/* General body styling */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #1798ae;
    color: #000000;
    line-height: 1.6;
    padding: 20px;
}

/* Title section styling */
.title h1 {
    text-align: center;
    color: #000000;
}

.title-2 {
    text-align: center;
}

/* Questions section styling */
.questions {
    background-color: #ef9607;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

.questions h4 {
    color: #000000;
}

.questions-img {
    width: 20%; /* Make images responsive */
    height: auto;
    border-radius: 4px;
    margin-top: 8px;
}

/* Result section styling */
.result {
    background-color: #0f6270;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 1.2em;
}

.result-2 {
    background-color: #0f6270;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 1.2em;
}

.button {
    background-color: #333;
    color: #e2e2e2;
    font-size: larger;
}

.hidden {
    display: none !important;
}

.image {
    width: 300px;
}